<%- include("./../partials/top") %>

<div class="ui grid centered">
   <!-- column -->
   <div class="sixteen wide mobile fourteen wide tablet twelve wide computer column">
      <!-- Form -->
      <form class="ui form add-book" action="/books" method="POST" enctype="multipart/form-data">
         <!-- first row 2 fields -->
         <div class="fields">
            <div class="required field eight wide">
               <label>Title</label>
               <input type="text" name="title">
            </div>
            <div class="required field eight wide">
               <label>Author</label>
               <input type="text" name="author">
            </div>
         </div>
         <!-- Second row 1 fields -->
         <div class="fields">
            <div class="field sixteen wide">
               <label>Description</label>
               <textarea rows="7" name="description" id="add-book-textarea"></textarea>
            </div>
         </div>
         <!-- Third row 2 fields -->
         <div class="fields">
            <div class="required field eight wide">
               <label>Cover Image</label>
               <input name="coverImagePath" type="file" accept="image/*">
            </div>
            <div class="required field eight wide">
               <label>PDF Book</label>
               <input name="pdfFile" type="file" accept=".pdf">
            </div>
         </div>
         <!-- Forth row 2 fields and submit button -->
         <div class="fields">
            <div class="field four wide">
               <label>Genre</label>
               <input name="genre" type="text">
            </div>
            <div class="field four wide">
               <label>Language</label>
               <select class="ui dropdown" name="language">
                  <option value="">Select</option>
                  <option value="english">English</option>
                  <option value="bengali">Bengali</option>
               </select>
            </div>
            <div class="field four wide">
               <label>Status</label>
               <select class="ui dropdown" name="status">
                  <option value="public">Public</option>
                  <option value="private">Private</option>
               </select>
            </div>

            <div class="field four wide">
               <label>&nbsp;&nbsp;&nbsp;</label>
               <!-- <input type="submit" value="Add" > -->
               <button class="ui grey submit button fluid">Add</button>
            </div>
         </div>
         <div class="ui error message"></div>
      </form>
   </div>
</div>

<%- include("./../partials/bottom") %>