<%- include("./../partials/top") %>

<form action="/books" method="POST" enctype="multipart/form-data">
    <input type="text" name="title" placeholder="title">
    <input type="text" name="author" placeholder="author">
    <input type="text" name="description" placeholder="description">
    <input type="file" name="coverImagePath">
    <input type="number" name="pageNo" placeholder="page no.">
    <select name="language">
        <option value="bengali">Bengali</option>
        <option value="english">English</option>
    </select>
    <input type="file" name="pdfFile">
    <!-- <input type="date" name="publishDate"> -->

    <input type="submit" value="Submit">
</form>

<%- include("./../partials/bottom") %>