</div> <!-- ui container-->

<!-- jquery -->
<script src="https://unpkg.com/jquery@3.3.1/dist/jquery.js"></script>
<!-- fomantic ui -->
<script src="https://unpkg.com/fomantic-ui@2.8.6/dist/semantic.min.js"></script>
<!-- froala editor -->
<script type='text/javascript'
    src='https://cdn.jsdelivr.net/npm/froala-editor@3.2.0/js/froala_editor.pkgd.min.js'></script>

<!-- tippy.js -->
<script src="https://unpkg.com/@popperjs/core@2"></script>
<script src="https://unpkg.com/tippy.js@6"></script>
<!-- public js -->
<script type="module" src="/js/main.js"></script>
<script src="/js/formValidate.js"></script>
</body>

</html>