<!-- jquery -->
<script src="https://unpkg.com/jquery@3.3.1/dist/jquery.js"></script>
<!-- fomantic ui -->
<script src="https://unpkg.com/fomantic-ui@2.8.6/dist/semantic.min.js"></script>

</body>

</html>