<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= pageTitle %></title>
  <!-- fomantic ui -->
  <link rel="stylesheet" type="text/css" href="https://unpkg.com/fomantic-ui@2.8.6/dist/semantic.min.css">
  <!-- public css -->
  <link rel='stylesheet' href='/css/main.css' />
  <link rel='stylesheet' href='/css/fomantic.css' />
</head>

<body>

  <div class="ui container">
    <div class="ui small secondary menu stackable">
      <!-- left menu -->
      <% if (user) { %>
      <a class="active item" href="/">Home</a>
      <a class="active item" href="/books">Books</a>
      <a class="active item" href="/books/new">Add Books</a>
      <% } else { %>
      <a class="active item" href="/">Home</a>
      <a class="active item" href="/books">Books</a>
      <% } %>
      <!-- right menu -->
      <div class="right menu">
        <div class="item">
          <% if (user) { %>
          <a class="ui grey basic button navbar" href="#"><%= user.username %> </a>
          <a class="ui grey basic button navbar" href="/logout">Logout</a>
          <% } else { %>
          <a class="ui grey button navbar" href="/signup">Sign Up</a>
          <a class="ui grey basic button navbar" href="/login">Login</a>
          <% } %>
        </div>
      </div>
    </div>