<%- include("partials/top") %>

<section class="error-section">
	<h1 class="error-section__title"><%= pageTitle %></h1>
	<p class="error-section__text">Not found</p>
	<a href="/">Back to the home</a>
</section>

<%- include("partials/bottom") %>