<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bookshelf</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/3.0.9/fullpage.min.css"
        integrity="sha512-8M8By+q+SldLyFJbybaHoAPD6g07xyOcscIOQEypDzBS+sTde5d6mlK2ANIZPnSyxZUqJfCNuaIvjBUi8/RS0w=="
        crossorigin="anonymous" />

    <style>
        .section {
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            text-align: center;
            font-size: 100px;
            color: #fff;
            font-weight: bolder;
        }

        a {
            text-decoration: none;
            color: #fff;
        }

        span {
            color: white !important;
            background-color: white !important;
        }
    </style>
</head>

<body>

    <div id="fullpage">
        <div class="section"><a href="/books">Book</a></div>
        <div class="section">Movie</div>
        <div class="section">Food</div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/3.0.9/fullpage.min.js"
        integrity="sha512-Gx/C4x1qubng2MWpJIxTPuWch9O88dhFFfpIl3WlqH0jPHtCiNdYsmJBFX0q5gIzFHmwkPzzYTlZC/Q7zgbwCw=="
        crossorigin="anonymous"></script>
    <script>
        new fullpage('#fullpage', {
            //options here
            anchors: ['firstPage', 'secondPage', "thirdPage"],
            navigation: true,
            navigationTooltips: ["Book", "Movie", "Food"],

            sectionsColor: ['#f65058ff', '#fbde44ff', '#28334aff'],

        });

        //methods
        fullpage_api.setAllowScrolling(true);
    </script>
</body>

</html>