/* =============== */
/* custom fomantic */
/* =============== */

.ui.container {
	margin-top: 1rem !important;
}

.ui.button.navbar {
	margin: 0 0.5rem !important;
}

.field {
	margin-bottom: 1rem !important;
}

.ui .grid {
	margin-top: 2rem;
}

.ui.list {
	margin-top: 2rem;
}

@media only screen and (max-width: 600px) {
	.ui.card {
		margin: 0 auto;
	}
}
